.sort__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.checkbox__brands {
    max-height: 120px;
    width: 125px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px 10px 10px;
    gap: 10px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
  }