.container {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  margin-top: 100px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.section__img {
  max-width: 500px;
}

.section__info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: auto;
}

.price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: auto;
}

.size {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.description {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
opacity: .8;
font-size: 15px;
line-height: auto;
}

.btn__size {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid rgb(173, 173, 255);
  border-radius: 5px;
  transition: .3s;
}

.btn__size:hover {
  border: 1px solid blue;
  color: rgb(60, 60, 255);
}

.btn__size.active {
  border: 1px solid blue;
  color: blue;
}

@media (max-width:1350px) {
    .container {
        flex-direction: column;
        margin-top: 0;
    }

    .section__info {
        gap: 20px;
    }
}