@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 650px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* .logos:hover .slide {
  animation-play-state: paused;
} */

.slide {
  display: inline-block;
  width: 100%;
  animation: 30s slide infinite linear;
}

.slide img {
  height: 15vh;
  padding: 0 2vw;
}

@media (max-width: 450px) {
  .logos {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 0;
    overflow: hidden;
  }

  .slide {
    display: flex;
    flex-direction: column;
  }

  @keyframes slide {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  .logos:before,
  .logos:after {
    display: none;
  }


  .slide img {
    height: 100%;
    width: 100%;
    padding: 50px 10px;
  }

  .slide {
    animation: 10s slide infinite linear;
  }
}
