.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.products {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.btn__pagination {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: .3s;
}

.btn__pagination.active {
    background-color: black;
    color: white;
}


@media (max-width:1350px) {
    .products {
        justify-content: center;
    }
}