.footer {
  margin-top: 100px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  padding: 20px 10px 20px 10px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;

  color: #a993ff;
}

.footer__email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #828282;
}

.footer__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  column-gap: 10vw;
  flex-wrap: wrap;
  max-height: 120px;
}

@media (max-width:900px) {
  .footer__links{
    display: none;
  }
}
